<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>
    <div class="img-principal">
        <img src="/img/LIsa.jpg" alt="">
    </div>
   
    <form  class="products-form" action="/search" method="GET">
        <input type="text" class="products-form-input" name="keywords" placeholder="Pesquisar produtos"><br>
        <button class="products-form-button" Type="submit">Pesquisar!</button>
    </form>
</body>
</html>